<main>
  <section class="hero">
    <h1>Welcome to CSE Motors</h1>
    <div class="hero-box">
      <h2>DMC Delorean</h2>
      <ul>
        <li>3 Cup Holders</li>
        <li>Superman Doors</li>
        <li>Fuzzy Dice</li>
      </ul>
      <a href="#" class="cta-btn">Own Today</a>
    </div>
  </section>


  <div class="main-sections">
    <section class="upgrades">
      <h2>Upgrades</h2>
      <div class="upgrades-grid">
        <div class="upgrade-card">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
          <p>Bumper Sticker</p>
        </div>
        <div class="upgrade-card">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decal">
          <p>Flame Decal</p>
        </div>
        <div class="upgrade-card">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <p>Flux Capacitor</p>
        </div>
        <div class="upgrade-card">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
          <p>Hub Cap</p>
        </div>
      </div>
    </section>

  <section class="reviews">
    <h2>Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (5/5)</li>
      <li>"I'm feeling Marty McFly!" (5/5)</li>
      <li>"The flux capacitor is life changing." (4/5)</li>
    </ul>
  </section>
</div>

</main>


